table {
    border-collapse: collapse;
    width: 100%;
}

caption {
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
}

thead {
    background-color: #4f93e6;
    color: #fff;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

th {
    font-weight: bold;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:nth-child(odd) {
    background-color: #fff;
}
