@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Open%20Sans&display=swap');


:root{
  --heading-font: "Montserrat";
  --paragraph-font: "Montserrat", Helvetica, sans-serif;
  --titles-font: "Open Sans";

  --primary-color: #ffffff   ;
  --secondary-color: #7F2629;
  --accent1-color: #171717;
  --accent2-color: #171717;
}
/* Applies to everything in the document */
* {
    font-family: 'Montserrat', sans-serif;
}


/* HEADER */
header {
    background-color: #ffffff;
    color:#7F2629;
    display: grid;
   grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    margin: auto;
    background-color: #E5E5E5;
}

#mode {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 3rem;
	cursor: pointer;
}
#logo img {
    /*width: 300px;*/
    padding: 20px;
}

nav {
    margin: auto;
    grid-column: 1/3;
   
}

nav li {
    display: none;
}

nav a {
    color: #7F2629;
    text-decoration: none;
    font-size: 1.5em;
    text-align: center;
    font-weight: 500;
    transition: background-color 0.2s ease-out,
    color 0.2s ease-out;
}

nav a:hover {
    color: #000000;
    background-color: #bebebe;
    font-weight: bold;
    padding: 0.5rem  1rem;
    border-radius: 1em;
    
}

#hamburger {
    color: #bebebe;
    text-decoration: none;
    grid-column: 2;
    text-align: right;
    margin: auto;
    font-size: 3em;
}

.responsive  li{
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 40px;
}

.socials img {
    width: 24px;
}

.socials {
    display: block;
    grid-row: 2;
    grid-column: 1/3;
    margin: auto;
}

.button-box{
  text-align: center;
  padding: 10px 60px;
  color: #fff;
  border: 2px solid #000000;
  border-radius: 1rem;
  text-align: center;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  font-family: var(--heading-font);
  font-weight: bold;
  cursor: pointer;}

  .button-box:hover,
          .button-box:active {
            background-color: #888182;
            color: #ffffff;
            transition: background-color 0.3s ease-in,
                        color 0.3s ease-in;
                        border: 2px solid #888182;
          }

.button-box a{
  color: #000000;
  text-decoration: none;
}
.button-box a:hover{
  color: #ffffff;
  text-decoration: none;
}









#hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto ;
    gap: 10px;
    background-color: #ffffff;
    padding: 10px;
   
  }
  
  .grid-container > section {
    background-color: #ffffff;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    
  }

  br {
    height: 3px;
    margin: 35px 0;
    background: gray;
  }

  .item1 {
    grid-column: 1/ 7;
  }
  .item2 {
    grid-column: 1/ 7;
  }
  .item3 {
    grid-column: 1 / 7;
  }
  
  .item5 {
    grid-column: 1 / 7;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    
    text-align: center;
    font-family:var(--heading-font);
  }
  .item6 {
    grid-column: 1 / 7;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .item4 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family:var(--heading-font);
    grid-column: 1 / 7;
        
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card a {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }
  
p {
    padding: 1rem;
}

.image-card{
    width:60% ;
}

.phara-card{
    font-size: 1.5rem; 
}

.card-event {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}

.card-event button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #7F2629;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card-event a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.card-event button:hover, a:hover {
  opacity: 0.7;
}
.footer-container{
    background-color: #bebebe;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto ;
   
}

.footer1{
    grid-column: 1 / 7;
    font-size: 1rem;
        align-content: center;
        color: #7F2629;
         font-weight: bold;
         text-align: center;
         align-items: center;
         padding-top: 20px;
    
}

.footer2{
    grid-column: 1 / 7;
    font-size: 1rem;
        align-content: center;
        color: #7F2629;
         font-weight: bold;
         text-align: center;
         align-items: center;
    
}

.footer3{
    grid-column: 1 / 7;
    font-size: 1rem;
        align-content: center;
        color: #7F2629;
         font-weight: bold;
         text-align: center;
         align-items: center;
    
}


.hero-container {
  position: relative;
  
}

.hero-image {
  width: 100%;
  height: auto;
  display: block;
}

.herolabel {
position: absolute;
top: 30px;
left: 30px;
/* Buenas */
}

.herolabel p {
margin: 0;
padding: .25rem;
font-weight: 700;
font-size: 2rem;
color: #ffffff;
font-family:"Great Vibes", serif;
}


/*-----------------------------------*/
.container {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.sidebar {
  background-color: #f0f0f0;
  color: #002a5c;
  padding: 20px;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  max-width: 100%;
}

/* Add a hover effect for the images */


@media (max-width: 767px) {
    .container {
        display: flex;
        flex-direction: column;
    }
    .sidebar {
        width: 95%; /* Make the sidebar full width on mobile */
    }
    .main-content {
        width: 95%; /* Make the main content full width on mobile */
    }
    .main-content img {
        max-width: 100%; /* Ensure images are responsive on mobile */
    }
}
img[data-src]:hover {
  transform: scale(1.1); /* You can adjust the scale value for your desired zoom effect */
  transition: transform 0.3s ease; /* You can adjust the transition duration for the smooth effect */
}

.user-message {
  font-weight: bold;
}


.demographics li {
  text-align: left;
}

.attractions li {
  text-align: left;
}

.calendar {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
}

.calendar-header {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-weight: bold;
}

.day {
  text-align: center;
  padding: 5px;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

/* Style individual calendar days as needed */
.day-cell {
  text-align: center;
  padding: 5px;
  border: 1px solid #ccc;
}

/* Style today's date differently */

.event-day {
  background-color: #14213d; /* Choose a color for event days */
  color: #fff; /* Choose a text color for event days */
}

/* Style today's date differently */
.today {
  background-color: #002a5c;
  color: #fff;
  border-radius: 50%;
}

.event-display {
  text-align: center;
  padding: 10px;
  font-weight: bold;
}

#prev-month {
  color:#002a5c;
}

#next-month {
  color: #002a5c;
}

/*.discover {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 10px;
}*/

.discover div {
  padding: 10px;
}



.membershipLevels {
  margin: 10px;
}



.join-header{
  background-color: #7F2629;
  color: #fff;
  padding: 30px;
  align-items: center;
  text-align: center;
}

.join-img{
  
  text-align: center;
}

/*------------------------------------------*/

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  width: fit-content;
}

form input, textarea {
  font-size: 1em;
  width: 450px;
  height: 30px;
  padding: 10px;
  margin: 10px auto;
  border: 2px solid #7F2629;
  border-radius: 10px;
 
  font-weight: 500;
 
}

textarea {
  height: 250px;
}

form label {
  /* font-size: 1.5em; */
  font-weight: 700;
  text-align: left;
  margin: 5px;
}

label, textarea, select{
  display: inline-block;
  /* float: left; */
  clear: left;
  width: 450px;
  text-align: left;
}

#submit {
  background-color: #7F2629;
  color: white;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 10px;
  position: relative;
  /* bottom: 300px; */
  z-index: 5;
  width: 200px;
  height: 50px;
  font-size: 1.5em;
  font-weight: 700;
  margin: 15px;
}

#submit:hover {
  background-color: #e5e5e5;
  color: #000;
}


/*-----------------------*/
.thanks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 50px;
  text-align: center;
}

.thanks h1, .board h1 {
  display: block;
}

.card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
}

/* Grid view styles */
@media screen and (min-width: 1200px) {
  .grid-view {
      display: grid;
      grid-template-columns: 25% 25% 25% 25%;
  }
}

@media screen and (min-width: 700px) {
  .grid-view {
      display: grid;
      grid-template-columns: 33% 33% 33%;
      background-color: #fff;
      color: #002a5c;
  }
}

/* Table view styles */
.table-view table {
  width: 100%;
  border-collapse: collapse;
}

.table-view th, .table-view td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

/* Hide image in list view and table view */
.list-view .card img,
.table-view .card img {
  display: none;
}

/* Display information in one line for list view */
.list-view .card,
.table-view .card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.list-view .card > *,
.table-view .card > * {
  flex: 0 0 48%; /* Adjust as needed */
  margin: 5px;
  box-sizing: border-box;
}


/* Button styles */
button {
  margin: 10px;
  padding: 5px 10px;
  cursor: pointer;
}
