@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100&family=Rock+Salt&display=swap');

  .header_photo{
    background-color: #36516c;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #ffffff;
    font-size: 50px;
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
  }

  header h5{
    padding-right: 200px;
  }

  #initial-image{
   width: 200px; 
   padding: 30px;  
   padding-left: 200px; 

  } 


  nav {
    background-color: #0076B6;
    
    
  }
  nav ul {
    list-style-type: none;
    
  }
  
  nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    font-size: 20px;
  }
  
  nav a:hover {
    background-color: white;
    color: #0076B6;
  }
  
  .active {
    color: yellow;
  }

  /*nav{
    background-color: #0076B6;
   justify-content:center ;
   display: flex;
  }


 nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
} 

nav  ul li a {
    display: block;
    padding: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    text-decoration: none;
    color: white;
    font-size:30px;
}

nav ul li a:hover {
    background-color: white;
    color: #0076B6;
}
 
  .active {
    color: yellow;
  }
*/

  #title_course{
    text-align: center;
    border-bottom: 2px solid #000000;
    margin: 10px;
  }

section{
    border: 2px solid #000000;
    margin: 10px;
    border-radius: 8px;   
}


 .title-card{
    background: #1D4D72;
    text-align: center;
    padding: 3px;   
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  .title-card h3{
    color: #ffffff;
  }

  .activities a{
    font-size: 20px;
  }
  .activities li {
    font-size: 22px;
  }

  .card-information{
  text-align: center;
   
  }

  .weather{
    width: 24px;
    height: 24px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .items-box{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  footer{
    display: block;
    padding: 12px;
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    background-color: #1D4D72;
  }

  .flag{
    width: 60px;
    height: 40px;
    margin-right: 10px;
    margin-left: 10px;
  }

  #last-modified{
    color: #FFFE30;
  }