header {
    background: lightpink;
    padding: 2rem;
    grid-column: 1 / 3;
  }

section{
    border: 2px solid red;
    padding: 10px;
    border-radius: 25px;
}
  nav {
    background: black;
    padding: 2rem;
    grid-column: 1 / 3;
  }

 .title-card{
    background: #1D4D72;
  }